body {
    margin: 0;
    background: #222;
    color: white;
    font-family: sans-serif;
}

#game-container {
    display: flex;

    width: 800px;
    height: 720px;

    margin: 20px auto;
}

#gameCanvas {
    width: 480px;
    height: 720px;

    display: block;

    background: black;
}

#side-panel {
    width: 320px;
    height: 720px;

    box-sizing: border-box;

    padding: 30px;

    background: rgb(40, 40, 50);
}

#side-panel h2 {
    margin: 0 0 15px 0;

    font-size: 20px;
}

#lives,
#spells {
    font-size: 24px;

    min-height: 40px;

    margin-bottom: 60px;
}